# تجاهل بيئة التطوير الافتراضية
env/
venv/

# تجاهل الملفات المؤقتة وملفات البايت كود
__pycache__/
*.pyc
*.pyo
*.pyd

# تجاهل مجلدات وأدوات البناء
build/
dist/
*.egg-info/

# تجاهل ملفات الاختبار (اختياري إذا ما تبغى ترفعها)
tests/

# تجاهل ملفات النظام
.DS_Store
Thumbs.db
